<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bda.mapper.SysRoleMapper">


    <!--查询角色-->
    <select id="findRoleData" resultType="com.example.bda.pojo.SysRole">
        select id,role_code,role_name,role_description roleDesc  from sys_role
    </select>



</mapper>